:root {
    --dark: #012542;
    --light: #dff1f7;
}

main {
    font-family: 'Baloo 2', cursive;
}
.jumbotron {
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Baloo 2', cursive;
}

.city-list {
    list-style: none;
    margin-top: 4%;
}
.city-list > li {
    margin: 5%;
}

.city-list > li:hover {
    cursor: pointer;
    background: var(--dark);
    color: var(--light);
}

.search-card {
    display: flex;
    justify-content: center; 
    align-items: center;
    height:80vh;
}

.weather-card {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
    border-style: none;
}

.five-day {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.five-day > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
    height: 20vh;
}

.conditions {
    width: 20vw;
}
.favourable {
    background-color: green;
    color: white;
}
.moderate {
    background-color: yellow;
}
.severe {
    background-color: red;
    color: white;
}

@media screen and (max-width: 768px) {
    .city-list {
        display: none;
    }

    .five-day > div {
        display: flex;
        flex: 100%;
        flex-direction: row;
        max-width: 100%;
        height: 20vh;

    }

    .five-day {
        align-items: flex-start;
        max-height: 20%;
    }
}