.city-list {
    list-style: none;
}

.city-list > li {
    background-color: blue;
    color: white;
    height: 45px;
}

.search-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.weather-card {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.five-day {
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

.five-day > div {
    justify-content: center;
    align-items: center;
}

.temp-date {
    display: flex;
    flex-direction: column;
}